@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;
  /* tailwind v4 tambahkan tema disini */
  /* 
    --color-tesco-100: oklch(0.99 0 0);
    --color-tesco-200: oklch(0.98 0.04 113.22);
    --color-tesco-300: oklch(0.94 0.11 115.03);
    --color-tesco-400: oklch(0.92 0.19 114.08);
    --color-tesco-500: oklch(0.84 0.18 117.33);
    --color-tesco-600: oklch(0.53 0.12 118.34); */
  /* ... */
  --color-tesco-600: oklch(0.53 0.12 118.34);

  --grid-template-columns-70-30: 70% 30%;
}
